/* MEDIA QUERIES */
@media (min-width: 1200px) {
.navbar-toggler {
    margin-right: 30vw;
}
/* Inicio */
.seccion-textoppal h3{
    margin-top: 45px;  
}
/* Materiales & Seguridad */
.contenedor{
    padding: 10px;
}
.contenedorprincipal {
    display: grid;
    place-content: center;
}
}

@media screen and (min-width: 700px) and (max-width: 1199px) {
/* Header */
header {
    flex-direction: column;
}
nav {
    padding: 10px 0px;
}
.navbar-toggler {
    margin-right: 10vw;
}
/* Footer */
.footer-center_caja{
    font-size: 15px;
}
.footer-center_caja h5{
    font-size: 15px;
}
.footer-center_caja p{
  font-size: 15px;
}
.footer a{
    font-size: 15px;
}
/* Inicio */
.seccion-textoppal{
    height: 230px;  
}
.seccion-textoppal p{
    font-size: 18px;
}
.seccion-textoppal h3{
    font-size: 17px;
    margin: 15px;  
}
/* Acerca de Nosotros */
.contenedoracerca{
    display: grid;
}
.textoacerca{
    font-size: 16px;
    text-align: justify;
    width: 100%;
}
.imagenacercade{
    display: flex;
    justify-content: center;
}
.imagenacercade img {
    width: 70%;
}
/* Materiales & Seguridad */
.textomateriales{
    font-size: 16px;
}
.textoseguridadind{
    font-size: 16px;
}
.contenedorprincipal {
    display: grid;
    place-content: center;
}
.contenedorfotos {
    flex-direction: column;
}
.contenedorfotos h3 {
    font-size: 14px;
}
/* Contáctenos */
.containergeneral {
    padding-top: none;
}
.container-form {
    margin: 20px;
}
.container-form p {
    font-size: 15px;
}
.container-form a {
    font-size: 14px;
}
.container-form form .campo, textarea {
    width: 100%;
    font-size: 14px;
}
.container-form .btn-enviar {
    font-size: 14px;
}
}

@media screen and (min-width: 550px) and (max-width: 699px) {
/* Header */
header {
    flex-direction: column;
}
nav {
    padding: 10px 0px;
}
.navbar-toggler {
    margin-right: 5vw;
}
/* Footer */
.footer-center_caja{
    font-size: 13px;
}
.footer-center_caja h5{
    font-size: 13px;
}
.footer-center_caja p{
    font-size: 13px;
}
.footer-center_caja a{
    font-size: 13px;
}
/* Inicio */
.seccion-textoppal{
    height: 200px;  
}
.seccion-textoppal h1{
    font-size: 17px;
}
.seccion-textoppal h3{
    font-size: 15px;
    margin: 15px;  
}
/* Acerca de Nosotros */
.contenedoracerca{
    display: grid;
}
.textoacerca{
    font-size: 15px;
    text-align: justify;
    width: 100%;
}
.imagenacercade{
    display: flex;
    justify-content: center;
}
.imagenacercade img {
    width: 70%;
}
/* Materiales & Seguridad */
.textomateriales{
    font-size: 15px;
}
.textoseguridadind{
    font-size: 15px;
}
.contenedorprincipal {
    display: grid;
    place-content: center;
}
.contenedorfotos {
    flex-direction: column;
}
.contenedorfotos h3 {
    font-size: 13px;
}
/* Contáctenos */
.containergeneral {
    padding-top: none;
}
.container-form {
    margin: 20px;
}
.container-form p {
    font-size: 14px;
}
.container-form a {
    font-size: 13px;
}
.container-form form .campo, textarea {
    width: 100%;
    font-size: 13px;
}
.container-form .btn-enviar {
    font-size: 13px;
}
}    

@media screen and (min-width: 320px) and (max-width: 549px) {
/* Header */
header {
    flex-direction: column;
}
nav {
    padding: 10px 0px;
}
.navbar-toggler {
    margin-right: 5vw;
}
/* Footer */
.footer-center_caja{
    font-size: 11px;
}
.footer-center_caja h5{
    font-size: 11px;
}
.footer-center_caja p{
    font-size: 11px;
}
.footer a{
    font-size: 11px;
}
/* Inicio */
.seccion-textoppal{
    height: 180px;  
}
.seccion-textoppal h1{
    font-size: 13px;
}
.seccion-textoppal h3{
    font-size: 11px;
    margin: 15px;  
}
/* Acerca de Nosotros */
.contenedoracerca{
    display: grid;
}
.textoacerca{
    font-size: 13px;
    text-align: justify;
    width: 100%;
}
.textoacerca p {
    padding: 0px;
}
.imagenacercade{
    display: flex;
    justify-content: center;
}
.imagenacercade img {
    width: 95%;
    height: 100%;
    padding: 0px;
}
/* Materiales & Seguridad */
.textomateriales{
    font-size: 13px;
}
.textoseguridadind{
    font-size: 13px;
}
.contenedor {
    height: 100%;
    width: 85%;
    padding-bottom: 40px;
}
.contenedorfotos {
    flex-direction: column;
}
.contenedorfotos h3 {
    font-size: 10px;
}
.imagenasegind {
    flex-direction: column;
}
.imagensegind img {
    width: 100%;
    height: 80%;
}
.imagenmatcons {
    flex-direction: column;
}
.imagenmatcons img {
    width: 100%;
    height: 95%;
}
/* Contáctenos */
.containergeneral {
    padding-top: none;
}
.container-form {
    margin: 20px;
    display: block;
}
.container-form p {
    font-size: 13px;
}
.container-form a {
    font-size: 13px;
}
.container-form form .campo, textarea {
    width: 95%;
    font-size: 11px;
}
.container-form .btn-enviar {
    font-size: 13px;
}
}    